@charset "utf-8";

*{
    box-sizing: border-box;
    position: relative;
}

html, body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* 防止水平滾動 */
}

h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

a{
    text-decoration: none;
    color: #b2875c;
}


/*  建立通用切版版型：
        *   弄一個通用的置中區塊
        *   通常都有的 navbar
        *   一定會有的 row 區塊（包括消除 float 的 after 偽類元素）
        *   切 column 時很重要的 RWD 系列，包括斷點（BP, break point）區間、各種 column 命名
    
    再來要寫元件：
        *   按鈕 btn，分 primary 和 secondary，分別先給實心和 outline 樣式、large 和 middle
        *   如果按鈕會成對組合，給他們加個 div 去置中或靠左右

        *   圖片 image，先給個容器 img-container，然後加上適應寬度的偽元素 before、padding-top 的設定

    開關的工具：     
        *在滿版情況下要存在 lg-display、要消失 lg-hidden 的選擇器 
    */



/*                      *\
        layout
\*                      */


/* 置中物件用 */
.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
    box-sizing: border-box; /* 確保 padding 不會增加寬度 */
}

/* row 用 */

.row{
    /* border: 1px solid blue; */
    margin: 0 -16px;   /* 左右拉開，用來抵銷 col 的最外圍的 padding */
}

.row::after{
    content: '';
    display: block;
    clear: both;
}

/* breakpoint example of grid system based 0n 12 column */
/* xl-(1200px)-lg-(768px)-md-(540px)-sm-(375px) */

.col-xl-12,.col-xl-6,.col-xl-4,.col-xl-3,
.col-lg-12,.col-lg-6,.col-lg-4,.col-lg-3,
.col-md-12,.col-md-6,.col-md-4,.col-md-3,
.col-sm-12,.col-sm-6,.col-sm-4,.col-sm-3,
.col-xs-12,.col-xs-6,.col-xs-4,.col-xs-3{
    /* border: 1px solid red; */
    float: left;
    padding: 0 16px;
}

.col-lg-12{
    width: 100%;
}

.col-lg-6{
    width: 50%;
}

.col-lg-4{
    width: 33.333333%;
}

.col-lg-3{
    width: 25%;
}

@media screen and (max-width: 1200px) {
    .container {
        max-width: 100%;
    }
}

@media screen and (max-width: 768px){
    .col-md-12{
        width: 100%;
    }

    .col-md-6{
        width: 50%;
    }

    .col-md-4{
        width: 33.333333%;
    }

    .col-md-3{
        width: 25%;
    }
}

@media screen and (max-width: 540px){
    .col-sm-12{
        width: 100%;
    }

    .col-sm-6{
        width: 50%;
    }

    .col-sm-4{
        width: 33.333333%;
    }

    .col-sm-3{
        width: 25%;
    }
}

@media screen and (max-width: 375px){
    .col-xs-12{
        width: 100%;
    }

    .col-xs-6{
        width: 50%;
    }

    .col-xs-4{
        width: 33.333333%;
    }

    .col-xs-3{
        width: 25%;
    }
}


.hero{
    padding: 40px 0;
}

.hero.hero-bg-white{
    background-color: #fefefe;
}

.hero.hero-bg-grey{
    background-color: #efefef;
}


/*                      *\
        component
\*                      */


.navbar{
    height: 64px;
    /* background-color: rgba(0,0,0,0.8); */
    position: fixed;
    z-index: 500;
    width: 100%;
    /* border: 1px solid; */
    transition: 0.3s;

}

.navbar.active{
    background-color: #000;
    animation-timing-function: cubic-bezier(0,.76,.99,.35);
    height: 48px;
}

.navbar .logo{
    display: inline-block;
    vertical-align: top;
    width: 120px;
    height: 48px;
    background-image: url(../image/icon/logo-lg.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    margin-top: 8px;

    /* 以下來隱藏 h1 */
    white-space: nowrap;
    text-indent: 100%;
    overflow: hidden;

    transition: 0.3s;
}

.navbar .logo.shrink{
    height: 32px;
}

@media screen and (max-width: 768px){
    .navbar .logo{
        width: 80px;
        height: 32px;
        margin: 16px 0;
    }
    .navbar .logo.shrink{
        width: 80px;
        height: 32px;
        margin: 8px 0;
    }
}


.navbar .nav{
    float: right;
    transition: 0.3s;
}

.navbar .nav .nav-item{
    float: left;
}

.navbar .nav.up{
    margin-top: -8px;
}

.navbar .nav .nav-item .nav-link{
    color: #fff;
    display: block;
    line-height: 24px;
    padding: 20px 16px;
    /* border: 1px solid #fff; */
    transition: color 0.3s;
}

.navbar .nav .nav-item .nav-link:hover{
    color: #3471ff;
}
/* 下面這行，意思是：
因為我有使用 onePageNav 的 js 插件，
所以當我的 .nav-item 有 .active 的 class 時（也就是捲動到或點擊 nav 的連結時），我的 nav-link 維持該色*/
.navbar .nav .nav-item.active .nav-link{
    color: #3471ff;
}
@media screen and (max-width: 1920px){
    .navbar .menu-icon{
        display: none;
    }

    .navbar .nav .close-btn{
        display: none;
        position: absolute;
        right: 16px;
        top: 8px;
    }
}
@media screen and (max-width: 768px){
    .navbar .nav{
        position: absolute;
        max-width: 375px;
        background-color:rgba(0,0,0,0.8);
        display: flex;
        flex-direction: column;
        width: 0;
        right: 0;
        top: 0;
        padding-top: 64px;
        padding-bottom: 100vh;
        text-align: center;
        z-index: 5;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s;
    }

    .navbar .menu-icon{
        display: block;
        position: absolute;
        right: 16px;
        top: 8px;
        transition: 0.3s;
    }
    
    .navbar .menu-icon.up{
        top:0px;
    }
    .navbar .menu-icon img{
        width: 48px;
        height: 48px;        
    }
    
    .navbar .menu-icon.active{
        display: none;
    }


    .navbar .nav.active{
        width: 50%;
        z-index: 10;
        opacity: 1;
        visibility: visible;
    }



    /* #popup-menu:target{
        width: 50%;
        z-index: 10;
        opacity: 1;
        visibility: visible;
    } */

    
    .navbar .nav .close-btn.active{
        display: block;
        position: absolute;
        right: 16px;
    }
    .navbar .nav .close-btn.active img{
        width: 48px;
        height: 48px;
        /* background-color: #000; */
        z-index: 20;
    }
}




.btn{
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    line-height: 24px;
    padding: 4px 16px;
    color: #fff;
    border-radius: 12px;

    transition: all 0.1s; 
}

/* primary btn */
.btn.btn-primary{
    background-color: #3471ff;
    border: 1px solid #3471ff;
    color: #fff;
}

.btn.btn-primary:hover{
    translate: 0 -1px;
    opacity: .9;
}

.btn.btn-primary:active{
    translate: 0 1px;
    opacity: 1;
}

/* secondary btn */
.btn.btn-secondary{
    color: #3471ff;
    border: 1px solid #3471ff;
}

.btn.btn-secondary:hover{
    background-color: #3471ff;
    color: #fff;
}

/* btn size */

.btn.btn-lg{
    padding: 8px 32px;
}


/* btn layout */
.btn-group-center{
    text-align: center;  /* 因為這裡的按鈕設定為 inline-block */
}

.btn-group-right{
    text-align: right;
}

.btn-group-center .btn{
    margin: 0 12px;     /* 讓按鈕之間有間隔 */
}

@media screen and (max-width: 540px){
    .btn-group-center{
        width: 240px;
        margin: 0px auto;
        display: flex;
        flex-direction: column;        
    }

    .btn-group-center .btn.btn-primary.btn-lg{
        margin-bottom: 24px;
    }

}

/* image container */

.img-container{
    width: 100%;
    /* border: 1px solid; */
}

.img-container::before{
    content: '';
    display: block;
    width: 100%;
    padding-top: 75%;
    justify-content: center;
}

.img-container .img{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    border-radius: 12px;
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


/* jumbotron */


.jumbotron{
    padding-top: 5%;
    padding-bottom: 200px;
    /* background-image: url(../image/bg/jumbo-bg.jpeg); */
    background-size: cover;
    background-attachment: fixed;
}

@media screen and (max-width: 768px){
    .jumbotron{
        padding-top: 80px;
        padding-bottom: 120px;
    }
}

.jumbotron .logo{
    width: 320px;
    height: 320px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;

    /* border: 1px solid; */
}


.jumbotron .container .para{
    width: 60%;
    margin: 0 auto;
    text-align: justify;
    line-height: 32px;
}
.jumbotron .container .para p{
    color: #fff;
}

.jumbotron .btn{
    left: 50%;
    transform: translate(-50%);
    margin-top: 80px;
}

.jumbotron .btn-primary:hover{
    background-color: #fff;
    color: #3471ff;
}
.jumbotron .btn-primary a{
    color: #fff;
}


/* products */

.section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    margin-bottom: 24px;
}

.section .title{
    margin-bottom: 16px;
}

.section .para{
    margin: 8px auto;
}

.products-item{
    margin-bottom: 40px;
    padding: 16px;
    background: #f4f9ff;
    border-radius: 24px;
    /* border: 1px solid; */
    
    transition: 0.2s;
}

.products-item:hover{
    background: #e3ebff;
    line-height:1.5;
    /* transform: scale(1.02); */
    outline: 1.5px solid #3471ff;
    outline-offset: -2px;
    box-shadow: 1px 2px 4px 0px rgba(147, 187, 225, 0.24), 4px 6px 7px 0px rgba(147, 187, 225, 0.21), 8px 14px 10px 0px rgba(147, 187, 225, 0.12), 14px 25px 12px 0px rgba(147, 187, 225, 0.04), 22px 39px 13px 0px rgba(147, 187, 225, 0.00);
}

.products-item .content{
    padding: 16px;
    min-height: 280px;
}

.products-item .content .title{
    color: #3471ff;
    border-bottom: 2px solid #3471ff;
    padding-bottom: 8px;
}

/* 限制行數的做法：
    *   只有在 display 屬性設定成 -webkit-box 或 -webkit-inline-box 時，
    並且 box-orient 屬性設定成 vertical 時，才有斷行效果。
    *   在大部分情況下，也需要設定為 overflow: hidden; */
.products-item .content p{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 4;
}

.products-item .content .para{
    margin: 24px 0 32px 0;
}
.products-item .img{
    background-size: 60%;
    cursor: pointer;
}

.img-container .img__sol{
    background-size: cover;
    filter: drop-shadow(8px 6px 20px #cdcdcd);
    border-radius: 8px;
    background-clip: border-box;
}

.products-item .content a{
    left: 50%;
    transform: translate(-50%);
}

@media screen and (max-width: 768px){
    .hero{
        padding: 80px 0;
    }
    .products-item{
        margin-bottom: 40px;
    }

    [class^="col-"]:last-child .products-item{
        margin-bottom: 0;
    }

    .products-item .content{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .products-item .content .btn{
        text-align: center;
    }
}



/* contact */

.info-item{
    margin-bottom: 24px;
}

.info-item .title{
    margin-bottom: 16px;
    display: flex;
    align-items: center;
}

.info-item .title span{
    color: #3471ff;
    border-bottom: 4px solid #3471ff;
    line-height: 36px;
}

.info-item .title img{
    width: 24px;
    height: 18px;
    padding-right: 8px;
}

.info-item .content{
    display: flex;
    align-items: center;
    color: #000;
    padding-left: 24px;
}
.info-item a{
    text-decoration-line: underline;
}

.map-container{
    width: 100%;
    padding-top: 75%;
}


.map-container iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* fancybox */


.box{
    cursor: pointer;
    display: flex;
    border: 1px solid;
}


/* footer */

.footer .hero{
    background-color: #18181d;
    background-size: cover;    
    background-attachment: fixed;
}

@media screen and (max-width: 768px){
    .footer .hero{
        padding: 32px 0;
    }
}

.footer .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.footer .logo img{
    width: 160px;
}

.footer .row{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer .nav{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer .nav-item{
    margin: 8px 0;
    padding-left: 20px;
}

.footer .nav-link{
    color: #fff;
    transition: color 0.3s;
}


.footer .nav-link:hover{
    color: #3471ff;
}


.copyright{
    background-color: #252525;
    color: #fff;
    text-align: center;
    padding: 12px 0;
}

.sns{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;

    transform: 0.3s;
}

.sns img{
    width: 48px;
    height: 48px;
}
.sns img:hover{
    transform: scale(1.1) rotate(-8deg);
}


/* evaluation page*/
/* page title */

.page-title{
    padding: 15vw 16px;
    background-image: url('../image/bg/bg-evaluation.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color: #fff;
}

.page-title .title{
    font-size: 48px;
}

.page-title .section{
    margin-bottom: 0;
}


/* masonry */

.masonry-row{
    margin: 0 -16px;
}


.masonry-col {
    width: 25%; /* 預設每行 4 個卡片 */
  }

  @media (max-width: 1200px) {
    .masonry-col {
      width: 33.333%; /* 在較小螢幕下每行 3 個卡片 */
    }
  }
  
  @media (max-width: 768px) {
    .masonry-col {
      width: 50%; /* 在更小螢幕下每行 2 個卡片 */
    }
  }
  
  @media (max-width: 480px) {
    .masonry-col {
      width: 100%; /* 在極小螢幕下每行 1 個卡片 */
    }
  }

/* evaluation card */
.eval-card{
    padding: 16px 16px;
    border-radius: 12px;
    box-shadow: 0 3px 20px rgba(0,0,0,0.3);
    margin: 8px;
}

.eval-card .image{
    display: flexbox;
    width: 100%;
    margin-bottom: 8px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 8px;
}

.eval-card .para{
    color: #18181d;
    font-size: 16px;
    line-height: 32px;
    text-align: justify;
}

/*                      *\
        utilities
\*                      */


/* mask */

.mask{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(0,0,0,0.6);
}

/* owl-carousel */
.owl-theme .owl-nav{
    position: absolute;
    /* 記得 calc 裡面的運算子前後要加上空格 */
    top: calc((100% - 130px) / 2);
    width: 100%;
    left: 0;
}

.owl-theme .owl-nav button.owl-prev,
.owl-theme .owl-nav button.owl-next{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #3471ff;
    color: #fff;
    position: absolute;
    transform: translate(00, -50%);
    box-shadow: 1px 2px 12px rgba(24, 31, 255, 0.4);
    font-size: 24px;
    opacity: .2;
    transition: .1s;
}

.owl-theme:hover .owl-nav button.owl-prev,
.owl-theme:hover .owl-nav button.owl-next{
    opacity: 1;
}

@media screen and (max-width: 768px){
    .owl-theme .owl-nav button.owl-prev,
    .owl-theme .owl-nav button.owl-next{
        opacity: 1;
    }
}

.owl-theme .owl-nav button.owl-prev{
    left: 0px;
}

.owl-theme .owl-nav button.owl-next{
    right: 0px;
}


.owl-theme .owl-dots{
    /* display: flex; */
    display: none;
    justify-content: center;
    margin-bottom: 24px;
}

.owl-theme .owl-dots button.owl-dot{
    width: 15px;
    height: 15px;
    margin: 0 8px;
    border-radius: 50%;
    background-color: #CCC;    
}

.owl-theme .owl-dots button.owl-dot.active{
    background-color: #3471ff;
    transition: 0.3s;
}

/* 為 owl-carousel 內的 products-item 設置特定樣式 */
.owl-carousel .products-item {
    width: 90%; /* 或其他你想要的寬度 */
    margin: 10px auto; /* 上下 10px，左右自動置中 */
}

/* 確保 owl-carousel 項目有適當的內邊距 */
.owl-carousel .owl-item {
    padding: 8px;
    box-sizing: border-box;
}



/* .owl-carousel .owl-stage-outer{
    overflow:visible;
} */

/* parallex */
.rellax{
    position: absolute;
}

@media screen and (max-width: 768px){
    .rellax{
        display: none;
    }
}
.parallax-1{
    width: 30%;
    right: 0%;
    top: -15%;
    opacity: 0.5;
}

.parallax-2{
    width: 25%;
    left: 0;
    top: 0%;
    opacity: 0.5;
}

.parallax-3{
    width: 30%;
    right: 0;
    top: 10;
    opacity: 0.5;
}
